<%- include('partials/head') %>
<h1 class="heading">Edit a comment</h1>
<form action="/comments/<%= id %>?_method=PATCH" method="POST">
  <div class="form-group">
    <textarea name="edited" cols="30" rows="5" required>
<%= text %> 
    </textarea>
    <br />
    <button class="btn btn-success">Save</button>
    <a href="/comments/<%= id %> " class="btn btn-secondary">Cancel</a>
  </div>
</form>
<%- include('partials/footer') %>
