<%- include('partials/head')  %> 
    
    <h1 id="homepage-heading">Welcome to Comments App</h1>
    <a style="margin-left: 30em;" class="btn btn-primary" id="add-comment-btn"href="/comments">Browse Comments</a>

    <%- include('partials/footer')  %> 
