<%- include('partials/head') %>

<h1 class="heading">Browsing all comments</h1>
<a class="btn btn-primary" id="add-comment-btn" href="/">Home</a>
<% for (let comment of comments){ %>
<section class="comment-container">
  <p id="comment-author">
    <b><%= comment.author %></b>
    <span class="comment-id"> ID: <%= comment.id %> </span>
  </p>
  <p id="comment-text"><%= comment.text %></p>
  <a class="btn btn-secondary show-btn" href="/comments/<%= comment.id %> "
    >Show more</a
  >
</section>
<% } %>
<a class="btn btn-primary" id="add-comment-btn" href="/comments/new"
  >Add Comment</a
>

<%- include('partials/footer') %>
