<%- include('partials/head') %>

<h1 class="heading">Create new comment</h1>
<form action="/comments" method="POST">
  <div class="form-group">
    <section id="author-container">
      <label for="author">Author</label>
      <br />
      <input type="text" name="author" id="author" required />
    </section>
    <br />
    <section>
      <label for="text">Comment</label>
      <br />
      <textarea name="text" id="text" cols="30" rows="5" required></textarea>
    </section>
    <button class="btn btn-primary">Add Comment</button>
    <a style="margin-left: 10px" class="btn btn-primary" href="/comments"
      >Return</a
    >
  </div>
</form>

<%- include('partials/footer') %>
