<%- include('partials/head') %>

<h1 class="heading">Displaying comment</h1>
<a class="btn btn-primary" id="add-comment-btn" href="/">Home</a>

<section class="comment-container">
  <p id="comment-author">
    <b><%= author %></b> <span class="comment-id"> ID: <%= id %> </span>
  </p>
  <p id="comment-text"><%= text %></p>
  <a class="btn btn-dark show-btn" href="/comments/<%= id %>/edit ">Edit </a>
  <form id="delete-btn" action="/comments/<%= id %>?_method=DELETE " method="POST">
    <button class="btn btn-danger show-btn" href="#">Delete </button>
  </form>
</section>
<a class="btn btn-primary" id="add-comment-btn" href="/comments">Return</a>

<%- include('partials/footer') %>
