.comment-container {
  background-color: #f3f3f3;
  margin-left: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 1em;
}
.heading {
  text-align: center;
  padding: 10px;
  background: lightgray;
}
#comment-author {
  margin: 0;
}

#homepage-heading {
  text-align: center;
  margin-top: 270px;
}

.form-group {
  background: #f4f4f4;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
}
#add-comment-btn {
  display: inline-block;
  margin: 0px 0px 20px 15px;
  font-size: 1.2em;
  padding: 0px 18px;
  border-radius: 0.5em;
}
.comment-id{
  display: inline-block;
  margin-left: 50em;
}
.show-btn {
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0.5em;
}
#delete-btn {
  display: inline-block;
}